.about{
background:#000;
color:white;
padding:120px 10%;
}

.about-container{
display:flex;
align-items:center;
justify-content:center;
gap:80px;
flex-wrap:wrap;
}

.about-image img{
width:320px;
border-radius:15px;
box-shadow:0 0 30px rgba(255,255,255,0.1);
}

.about-text{
max-width:600px;
}

.about-text h2{
font-size:42px;
margin-bottom:20px;
}

.about-text p{
color:#9ca3af;
line-height:1.8;
margin-bottom:15px;
font-size:18px;
}

.tagline{
color:#a855f7;
margin-bottom:20px;
font-weight:500;
letter-spacing:1px;
}

@media(max-width:768px){
.hero h1{
font-size:32px;
}
}